.home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  color: #e9d5ff;
}

.home-content {
  max-width: 700px;
  line-height: 1.5;
}

.home h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.highlight {
  color: #a78bfa;
}

.home h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #e9d5ff;
}

.home p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 35px;
  color: #ddd6fe;
}

.home-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn {
  padding: 12px 28px;
  background: #7c3aed;
  color: white;
  border-radius: 30px;
  border: 2px solid #7c3aed;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.primary-btn:hover {
  background: none;
  color: white;
}

.secondary-btn {
  padding: 12px 28px;
  border: 2px solid #7c3aed;
  color: #a78bfa;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.secondary-btn:hover {
  background: #7c3aed;
  color: white;
}

.home-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration {
  width: 100%;
  max-width: 500px;
  height: auto;
}

@media (max-width: 1500px) {
  .home {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 40px 20px;
  }

  .home h1 {
    font-size: xx-large;
  }

  .home h2 {
    font-size: medium;
  }

  .home p {
    font-size: small;
  }

  .home-buttons {
    display: flex;
    justify-content: center;
    font-size: x-small;
  }

  .home-image {
    margin-top: 40px;
  }

  .illustration {
    max-width: 350px;
  }
}